#autofoo
.libs
.deps
cellmgr_config.h*
Makefile
Makefile.in
*.tar.*
version
clocal.m4
utom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1

# compiled stuff
*.o
*.sw?
*.orig

# binaries
cellmgr_ng
mgcp_mgw
patching_test
mtp_parse_test
udt_relay
osmo_stp

.version
aclocal.m4
autom4te.cache/
configure.lineno
tests/atconfig
tests/isup/isup_parse_test
tests/mgcp/mgcp_patch_test
tests/package.m4
tests/testsuite
tests/testsuite.log
